geodatasets==2024.8.0
geopandas==1.0.1
haversine==2.9.0
langchain==0.3.22
langchain_community==0.3.20
langchain_openai==0.3.11
langgraph==0.3.21
matplotlib==3.10.1
nbconvert==7.16.6
nbformat==5.10.4
numpy==2.2.4
osmnx==2.0.2
pandas==2.2.3
python-dotenv==1.0.1
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.15.2
Shapely==2.0.7
typing_extensions==4.13.0
